<div>
	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
	      		<div class="form-login">
	        		<h2 class="form-login-heading text-center">Please Log In</h2>
	        		<br>
	        		<label for="inputEmail" class="sr-only">Email address</label>
	        		<input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
	        		<label for="inputPassword" class="sr-only">Password</label>
	        		<input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	        		<br ng-show="error == ''">
	        		<div class="text-center text-danger">{{error}}</div>
	        		<button class="btn btn-lg btn-primary btn-block" ng-click="logIn()">Log in</button>
	      		</div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
