<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
                <div>
                    <div ng-include="'app/components/about/summaryView.html'"></div>
                    <hr>
                    <div ng-include="'app/components/about/educationView.html'"></div>
                    <hr>
                    <div ng-include="'app/components/about/experienceView.html'"></div>
                    <hr>
                    <div ng-include="'app/components/about/volunteerView.html'"></div>
                    <hr>
                    <div ng-include="'app/components/about/projectsView.html'"></div>
                    <hr>
                    <div ng-include="'app/components/about/skillsView.html'"></div>
                    <hr>
                    <!-- Pager -->
                    <ul class="pager">
                        <li class="next">
                            <a href="#">&larr; Back</a>
                        </li>
                    </ul>
                </div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
