<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts-->
                <div>
                    <summary></summary>
                    <hr>
                    <education></education>
                    <hr>
                    <experience></experience>
                    <hr>
                    <volunteer></volunteer>
                    <hr>
                    <projects></projects>
                    <hr>
                    <skills></skills>
                    <hr>
                    <!-- Pager -->
                    <ul class="pager">
                        <li class="next">
                            <a href="#">&larr; Back</a>
                        </li>
                    </ul>
                </div>
				<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
