<div>
    <div class="post-preview">
        <a href="#" ng-click="experienceIsVisible = !experienceIsVisible">
            <h1>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                </span>
                Experience
            </h1>
        </a>
    </div>
    <div ng-init="experienceIsVisible = false" ng-show="experienceIsVisible">
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    AT&T
                </h2>
                <h3 class="post-subtitle">
                    Associate Applications Developer
                </h3>
            </a>
            <p class="post-meta">
                June 2016 – Present (5 months) | Dallas/Fort Worth Area
            </p>
            <p>
                 Developing in Python for OpenStack, an open-source software platform for cloud computing.
            </p>
            <p>
                 Performing bug fixes, feature developments, and code reviews for various OpenStack components.
            </p>
            <p>
                 Integrating Meteor and AngularJS to create an app to connect AT&T new hires with current employees.
            </p>
            <p>
                 Developed an Android app for managing events, finances, and inventory for Heroes on the Water in a hackathon.
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    UF Neuromuscular Physiology Lab
                </h2>
                <h3 class="post-subtitle">
                    Software Developer
                </h3>
            </a>
            <p class="post-meta">
                October 2015 – May 2016 (8 months) | Gainesville, Florida Area
            </p>
            <p>
                 Developed a 3D driving simulation application for applied kinesiology and physiology research.
            </p>
            <p>
                 Utilized C/C++ to communicate with movement and pressure sensors for real-time data collection.
            </p>
            <p>
                 Utilized JavaScript and WebGL to create interactive challenges for data visualization and analysis.
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    UF Digital Worlds Institute
                </h2>
                <h3 class="post-subtitle">
                    Software Developer
                </h3>
            </a>
            <p class="post-meta">
                September 2015 – March 2016 (7 months) | Gainesville, Florida Area
            </p>
            <p>
                 Developed a 3D interactive software application in Java and OpenGL for Dysmetria patient research.
            </p>
            <p>
                 Worked with data streams from the Leap Motion sensor to visualize and analyze real-time motion.
            </p>
            <p>
                 Developed the application utilizing object-oriented principles for maintainability and reusability.
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    JPMorgan Chase & Co.
                </h2>
                <h3 class="post-subtitle">
                    Application Developer, Intern
                </h3>
            </a>
            <p class="post-meta">
                June 2015 – August 2015 (3 months) | Tampa/St. Petersburg, Florida Area
            </p>
            <p>
                 Worked with an agile team to develop customer-facing production code for an upcoming web application.
            </p>
            <p>
                 Utilized Java EE and PL/SQL to develop back-end web services in REST and SOAP architectures.
            </p>
            <p>
                 Utilized the test-driven development process to ensure 100% unit test coverage with JUnit and JMockit.
            </p>
            <p>
                 Wrote Groovy scripts for sprint data aggregation and unit test automation.
            </p>
            <p>
                 Wrote basic regression tests seeking to uncover new bugs in the system after changes have been made.
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    UF Digital Worlds Institute
                </h2>
                <h3 class="post-subtitle">
                    Software Developer
                </h3>
            </a>
            <p class="post-meta">
                November 2014 – May 2015 (7 months) | Gainesville, Florida Area
            </p>
            <p>
                 Built a software framework for physical therapy patients and care providers as the lead developer.
            </p>
            <p>
                 Developed the communications protocol between the Java server and JavaScript client using Web Sockets.
            </p>
            <p>
                 Worked with data streams from the Microsoft Kinect sensor and computer microphones.
            </p>
            <p>
                 Rendered a 3D virtual therapy environment utilizing WebGL to display a room with the clients' skeletons.
            </p>
            <p>
                 Created a plotting mechanism to track multiple joints simultaneously for real-time motion analysis.
            </p> 
            <p>
                 Helped develop the UI utilizing AngularJS and CSS.
            </p>
        </div>
    </div>
</div>
