<div>
    <div class="post-preview">
        <a href="#" ng-click="projectsAreVisible = !projectsAreVisible">
            <h1>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
                </span>
                Projects
            </h1>
        </a>
    </div>
    <div ng-init="projectsAreVisible = false" ng-show="projectsAreVisible">
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    Experiential Learning in Virtual Reality
                </h2>
                <h3 class="post-subtitle">
                    Web API
                </h3>
            </a>
            <p class="post-meta">
                January 2016 – April 2016 (4 months)
            </p>
            <p>
                 Developed an API for creating virtual reality web apps for experiential learning.
            </p>
            <p>
                 Made the API compatible with a diverse set of input and output devices.
            </p>
            <p>
                 Implemented an interactive game using the API, Leap Motion, and Oculus Rift.
            </p>
            <p>
                 Developed a client-server communications protocol to provide multiplayer support.
            </p>
            <p>
                 Utilized object-oriented JavaScript and WebGL to build the system.
            </p>
        </div>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    Unix Shell
                </h2>
                <h3 class="post-subtitle">
                    Command-line Interpreter
                </h3>
            </a>
            <p class="post-meta">
                March 2015 – April 2015 (2 months)
            </p>
            <p>
                 Built a command-line interpreter running under UNIX with a small team.
            </p>
            <p>
                 Utilized Lex and Yacc to tokenize and parse commands and C to handle command execution.
            </p>
        </div>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    Faculty Activity Report
                </h2>
                <h3 class="post-subtitle">
                    Web Application
                </h3>
            </a>
            <p class="post-meta">
                September 2014 – December 2014 (4 months)
            </p>
            <p>
                 Developed a web application for UF faculty members to use for generating and managing activity reports.
            </p>
            <p>
                 Designed and implemented the UI with AngularJS and CSS with an agile team using the MEAN.JS stack.
            </p>
            <p>
                 Collaborated with a back-end team to support data storage, aggregation, and querying functionalities.
            </p>
        </div>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    Computer Science Connect
                </h2>
                <h3 class="post-subtitle">
                    Web Application
                </h3>
            </a>
            <p class="post-meta">
                February 2014 – April 2014 (3 months)
            </p>
            <p>
                 Designed the UI and database for a social networking platform for computer science students.
            </p>
            <p>
                 Utilized AJAX technologies (HTML, CSS, JavaScript), PHP, and PostgreSQL to develop the application.
            </p>
        </div>
    </div>
</div>
