<div>
    <div class="post-preview">
        <a href="#" ng-click="volunteerismIsVisible = !volunteerismIsVisible">
            <h2 class="post-title">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                Volunteerism
            </h2>
        </a>
    </div>
    <div ng-init="volunteerismIsVisible = false" ng-show="volunteerismIsVisible">
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    UF Coleman Lab
                </h2>
                <h3 class="post-subtitle">
                    Software Developer
                </h3>
            </a>
            <p class="post-meta">
                June 2012 – May 2016 (4 years) | Gainesville, Florida Area
            </p>
        </div>
    </div>
</div>
