<div>
	<navbar></navbar>
	<appheader heading="heading" subheading="subheading" heading-image="headingImage"></appheader>

	<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            	<!-- Main content starts -->
            	<div>
					<ul>
						<li ng-repeat="message in messages">
							<div>{{message.text}}</div>
							<button class="btn btn-danger" ng-click="messages.$remove(message)">Delete Message</button>
						</li>
					</ul>
					<button class="btn btn-danger" ng-click="signOut()">Sign Out</button>
				</div>
            	<!-- Main content ends -->

			</div>
		</div>
	</div>

	<appfooter></appfooter>
</div>
